<!DOCTYPE html>
<html>
    <head>
        <title>API</title>
    </head>
    <body>
        <form action="/" method="post">
            <label for="api_key">API Key: </label>
            <input type="text" id="api_key" name="api_key"/>

            <br/>
            <br/>

            <label for="summ_id">LOL Summoner Id: </label>
            <input type="text" id="summ_id" name="summ_id"/>

            <br/>
            <br/>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>